@model RegisterVM
 
<!-- cart item area start -->
<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong>Register page</strong></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-md-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please Register using account detail bellow.</span>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <div class="login-form">
                            <form asp-controller="Account" asp-action="Register" method="post">
                                <input type="email" asp-for="Email" placeholder="Email">
                                <input type="password" asp-for="Password" placeholder="Password">
                                <input type=" ConfirmPasword" asp-for=" ConfirmPasword" placeholder=" ConfirmPasword">

                                <div class="button-box">
                                    <button  type="submit" class="default-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>